    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 6rem;
        position: fixed;
        top: 0;
        width: 100%;
        background: radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);
    }
    
    .navbar-links {
        flex: 1;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .navbar-links_logo {
        margin: 0 20rem 0 0;
    }
    
    .navbar-links_logo p {
        height: 40px;
        font-weight: 900;
        font-size: 2rem;
        font-family: var(--font-family);
        color: var(--color-text);
        cursor: pointer;
    }
    
    .navbar-links_container {
        display: flex;
        flex-direction: row;
    }
    
    .navbar-links_container p,
    .navbar-menu_container p {
        color: #fff;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        text-transform: capitalize;
        margin: 0 1rem;
        cursor: pointer;
    }
    
    .navbar-menu_container button {
        padding: 0.5rem 1rem;
        color: #fff;
        font-family: var(--font-family);
        font-size: 18px;
        font-weight: 500;
        line-height: 25px;
        background: #ff4b20;
        border-radius: 5px;
        border: 0;
        outline: none;
        cursor: pointer;
    }
    
    .navbar-menu {
        margin-left: 1rem;
        display: none;
        position: relative;
    }
    
    .navbar-menu svg {
        cursor: pointer;
    }
    
    .navbar-menu_container {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
        text-align: end;
        background: var(--color-footer);
        padding: 2rem;
        position: absolute;
        top: 40px;
        right: 0;
        margin-top: 1rem;
        min-width: 210px;
        border-radius: 5px;
        box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
    }
    
    .navbar-menu_container p {
        margin: 1rem 0;
    }
    
    @media screen and (max-width: 1050px) {
        .navbar-links_container {
            display: none;
        }
        .navbar-links_logo {
            margin: 0 30rem 0 0;
        }
        .navbar-menu {
            display: flex;
        }
    }
    
    @media screen and (max-width: 700px) {
        .navbar {
            padding: 2rem 4rem;
        }
        .navbar-links_logo {
            margin: 0 10rem 0 0;
        }
    }
    
    @media screen and (max-width: 550px) {
        .navbar {
            padding: 1.5rem;
        }
        .navbar-links_logo {
            margin: 0;
        }
        .navbar-menu_container {
            top: 20px;
        }
    }